@import url(http://fonts.googleapis.com/css?family=Roboto:700,400,300,200,100);
@import url("//hello.myfonts.net/count/2d1432");

@font-face {font-family: 'ProximaNovaSoft-Medium';src: url('webfonts/2D1432_0_0.eot');src: url('webfonts/2D1432_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2D1432_0_0.woff2') format('woff2'),url('webfonts/2D1432_0_0.woff') format('woff'),url('webfonts/2D1432_0_0.ttf') format('truetype'),url('webfonts/2D1432_0_0.svg#wf') format('svg');}
 
  
@font-face {font-family: 'ProximaNovaSoft-Semibold';src: url('webfonts/2D1432_1_0.eot');src: url('webfonts/2D1432_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2D1432_1_0.woff2') format('woff2'),url('webfonts/2D1432_1_0.woff') format('woff'),url('webfonts/2D1432_1_0.ttf') format('truetype'),url('webfonts/2D1432_1_0.svg#wf') format('svg');}
 
  
@font-face {font-family: 'ProximaNovaSoft-Bold';src: url('webfonts/2D1432_2_0.eot');src: url('webfonts/2D1432_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2D1432_2_0.woff2') format('woff2'),url('webfonts/2D1432_2_0.woff') format('woff'),url('webfonts/2D1432_2_0.ttf') format('truetype'),url('webfonts/2D1432_2_0.svg#wf') format('svg');}
 
  
@font-face {font-family: 'ProximaNovaSoft-Regular';src: url('webfonts/2D1432_3_0.eot');src: url('webfonts/2D1432_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2D1432_3_0.woff2') format('woff2'),url('webfonts/2D1432_3_0.woff') format('woff'),url('webfonts/2D1432_3_0.ttf') format('truetype'),url('webfonts/2D1432_3_0.svg#wf') format('svg');}




/* Proxima Nova Soft - license */


.ProximaNovaSoft-Medium { font-family: ProximaNovaSoft-Medium; }
.ProximaNovaSoft-Semibold { font-family: ProximaNovaSoft-Semibold; }
.ProximaNovaSoft-Bold { font-family: ProximaNovaSoft-Bold; }
.ProximaNovaSoft-Regular { font-family: ProximaNovaSoft-Regular; }


 