

/* Proxima Nova Soft - license */


.ProximaNovaSoft-Medium { font-family: ProximaNovaSoft-Medium; }
.ProximaNovaSoft-Semibold { font-family: ProximaNovaSoft-Semibold; }
.ProximaNovaSoft-Bold { font-family: ProximaNovaSoft-Bold; }
.ProximaNovaSoft-Regular { font-family: ProximaNovaSoft-Regular; }


 