@import "variables";
@import "foundation";


/* Awesome Styles - CASS */
      
.awesome {
-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
border-bottom: 1px solid rgba(0,0,0,0.25);
}

/* Sizes ---------- */
.small.awesome {
font-size: 11px;
}
.medium.awesome {
font-size: 13px;
}
.large.awesome {
font-size: 14px;
padding: 8px 14px 9px;
}
 
/* Colors ---------- */
.blue.awesome {
background-color: #2daebf;
}
.red.awesome {
background-color: #e33100;
}
.magenta.awesome {
background-color: #a9014b;
}
.orange.awesome {
background-color: linear-gradient(-180deg, #FAD961 0%, #F76B1C 100%);
}
.yellow.awesome {
background-color: #ffb515;
}  


 .green.awesome {

 background-color: linear-gradient(-180deg, #B4EC51 0%, #429321 100%);

 }    

h1, h2 { 
	font-family: $proxima-soft-semb; 
	font-style: normal; 
}


h3, h4, h5 { 
   	font-family: $proxima-soft-reg; 
   	font-weight: 700; 
   	font-style: normal; 
   }
      

a.outline {
   background: none;
   /* Gateways: */
   font-size: 18px;
   color: #FFFFFF;
   letter-spacing: 1.56px;
   line-height: 24px;
   /* Rectangle 6: */
   border: 1px solid #00A9E0;
   border-radius: 1px;
 }
a.outline:hover {
  background: $primary-color 0.6;
  /* Gateways: */
  font-size: 22px;
  color: #FFFFFF;
  letter-spacing: 1.56px;
  line-height: 24px;
  /* Rectangle 6: */
  border: 1px solid #00A9E0;
  border-radius: 1px;
}


.orange {
  background-image:  $gradient-orange;
  }
  


.orange:hover {
    background-image:  $gradient-orange-h;
  }


h4 {
    font-family: $proxima-soft-reg;
    opacity: 0.90;
    font-size: 22px;
    color: #00587C;
    letter-spacing: 1px;
    line-height: 29px;
} 

h5 {
    font-size: 16px;
    color: #00587C;
    font-family: $proxima-soft-reg;
    font-weight: 100;
    } 