

/* TopBar Custom - CASS */

.sticky { border-bottom: 0px solid $secondary-color;}


.bts-top-nav {
  background: #FFF;
  -moz-box-shadow: 0 2px 2px #ccc;
  -webkit-box-shadow: 0 2px 2px #ccc;
  box-shadow: 0 2px 2px #ccc;
  padding: 12px 0;
  }
