/* Custom Variables - CASS / BTS */
  $primary-gradient:   radial-gradient(48% 118%, #259CC6 46%, #00587C 100%, rgba(46,101,69,0.58) 100%);
  $gradient-orange:  linear-gradient(-180deg, #FAD961 0%, #F76B1C 100%);
  $gradient-orange-h:  linear-gradient(-180deg, #FAD961 0%, #D54D01 100%);
  $proxima-soft-reg:  ProximaNovaSoft-Regular;
  $proxima-soft-med:  ProximaNovaSoft-Medium;
  $proxima-soft-semb:  ProximaNovaSoft-Semibold;
  $proxima-soft-bld:  ProximaNovaSoft-Bold;
  $secondary-color:  #00587C;
  $primary-color: #00A9E0;
  $secondary-color: #00587C;
  $alert-color: #f04124;
  $success-color: #43AC6A;
  $warning-color: #F5A623;
  $info-color: #a0d3e8;
  $topbar-bg-color: #FFF;
  $topbar-bg: none;

